html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(110deg, black, rgb(70, 55, 55));
  font-family: 'Roboto';
  color: white;
  max-width: 1500px;
  margin: auto;
  overflow-x: hidden;
}

section {
  padding: 50px 100px;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  max-width: 1500px;
}

#topMenu {
  margin: 0px auto;
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


}

#topMenu>a {
  text-decoration: none;
  color: white;
  padding: 0px 10px;
  font-weight: 200;
  font-size: 20px;
  line-height: 45px;
  transition-duration: 1000ms;
}

#topMenu>a:hover {
  border-bottom: 2px gray solid;
  transition-duration: 1000ms;
}

#socialmedia {
  position: relative;
  left: 90%;
  bottom: 40px;
}

#github>img {

  width: 30px;
  height: 30px;

}

#linkedIN>img {

  width: 30px;
  height: 30px;

}

#Meeting {
  height: 700px;
  /* border: 2px white solid; */
  padding-top: 200px;
  position: relative;
  left: 200px;
}

#Meeting>h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
}

#Meeting>p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 54px;
  color: rgb(146, 146, 146);
}

#MeetingImg {
  background-image: url(images/drawing.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: contain;
  width: 500px;
  height: 500px;
  position: relative;
  bottom: 200px;
  left: 500px;
}

#Projects>div {
  margin: auto auto;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px white solid; */

}

#Projects>h1 {
  width: 50%;
  margin: auto auto;
  font-weight: 600;
  font-size: 64px;

}

#Norway,
#SimpleScenarist {
  /* border: 2px white solid; */

  width: 500px;
  height: 400px;
  margin: 50px 10px;
  text-align: center;
  border-radius: 10px;
}

#Norway>a,
#SimpleScenarist>a {
  position: relative;
  top: 110%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: gray;
  padding: 10px 30px;
  border-radius: 50px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  transition-duration: 1000ms;
}

#Norway>a:hover,
#SimpleScenarist>a:hover {
  transition-duration: 1000ms;
  top: 111%;
}

#Norway {
  background-image: url(images/ScreenshotOfNorwaySite.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100px;
}

#SimpleScenarist {
  background-image: url(images/SimpleScenaristScrinshot.PNG);
  background-size: cover;
  background-repeat: no-repeat;

}

#Technologies>h1 {
  width: 100px;
  font-weight: 600;
  font-size: 64px;

}

#Technologies>div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#Technologies>div>div {
  margin: 10px auto;
  width: 90%;
  height: 50px;
  background-color: gray;
  border-radius: 50px;
  /* background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%); */
}

#Technologies>div>div>p {
  margin: 15px;
}

#Technologies>div>div:nth-child(1) {
  background: linear-gradient(270deg, #13ADC7 9%, #6978D1 15%, #945DD6 100%);
}

#Technologies>div>div:nth-child(2) {
  background: linear-gradient(270deg, #13ADC7 9%, #6978D1 15%, #945DD6 100%);
}

#Technologies>div>div:nth-child(3) {
  background: linear-gradient(270deg, #13ADC7 30%, #6978D1 35%, #945DD6 100%);
}

#Addictional>h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}

#Addictional>ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0px;
}

#Addictional>ul>li {
  margin: 0px 50px;
  font-size: 30px;
  font-weight: 300;
}

#AboutMe {
  text-align: center;
}

#AboutMe>h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;

}

#AboutMe>p {
  width: 50%;
  margin: auto;
}

footer {
  border-top: 1px gray solid;
  height: 50px;
  padding: 20px;
}

#socialmedia2 {
  position: relative;
  left: 90%;
  bottom: 40px;
}

@media screen and (max-width:500px) {
  body {
    overflow-x: none;
  }
  #Meeting {
    padding: 100px 50px;
  }

  #Norway,
  #SimpleScenarist {
    margin: 50px 0px;
    width: 800px;
    height: 200px;
    background-position: 0px;
  }

  header {
    display: none;
  }

  section {
    padding: 50px 0px;
  }
}